.content-grid {
  padding-top: 80px;
  display: grid;
  // width: 100%;
  background: #2a2a2a;
  grid-template: 
    "item-1 item-1" 1fr
    "item-1 item-1" 1fr
    "item-2 item-3" 1fr
    "item-4 item-5" 1fr
    "item-6 item-6" 1fr
    "item-7 item-8" 1fr
    "item-9 item-10" 1fr
    "item-11 item-11" 1fr
    / 1fr 1fr
  ;
    
  $count: 1;
  
  @while $count <= 12 {
    .item-#{$count} {
      grid-area: item-#{$count};
    }
  
    $count: $count + 1;
  }

  @media screen and (min-width: 768px) {
    grid-template: 
      "item-1 item-1 item-2 item-3" 1fr
      "item-1 item-1 item-4 item-5" 1fr
      "item-6 item-6 item-7 item-8" 1fr
      "item-9 item-10 item-11 item-11" 1fr
      / 1fr 1fr 1fr 1fr
    ;
    gap: 25px;
    padding: 130px 50px 50px;
  }
}

.tile {
  position: relative;
  display: flex;
  color: #ffffff;
  img {
    width: 100%;
    display: block;
  }
  
  .tile-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.title-bg {
      background: rgba(0,0,0,0.5);
      padding: 5px;
    }

    .title {
      font-size: 36px;
      display: none;
      white-space: nowrap;
      text-align: center;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    .titleMobile {
      @extend .title;
      font-size: 24px;
      display: block;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .btn-cta {
      font-size: 18px;
      margin-top: 15px;
      min-height: 48px;
    }
  }
}
