body {
  margin: 0;
  font-family: 'Raleway',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  max-width: 100vw;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  &:visited {
    color: #ffffff;
  }
  &:active {
    color: #eeeeee;
  }
}

.btn {
  min-width: 130px;
  min-height: 48px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  color: #080000;
  
  &:hover {
    background: #eeeeee;  
  }

  &:active {
    background: #dddddd;
  }

  &-cta {
    background: #bb0000;
    color: #ffffff;

    &:hover {
      background: #aa0000;  
    }
  
    &:active {
      background: #990000;
    }
  }

  @media screen and (min-width: 768px) {
    min-width: 100px;
    min-height: 30px;
    font-size: 13px;
  }

}

h1 {
  font-size: 42px;
  @media screen and (min-width: 992px) {
    font-size: 56px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 72px;
  }
}

.text-left {
  text-align: left !important;
}